:root {
  --vibrant-pink: #ff007f;
  --light-gray: #f4f7fa;
  --dark-gray: #333;
  --white: #fff;
  --main-font: "Bebas Neue", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--secondary-font);
  line-height: 1.6;
  background: var(--light-gray);
  color: var(--dark-gray);
}

header {
  position: relative;
  height: 100vh;
  background: url("images/hero-main.jpg") top / cover no-repeat;
  background-attachment: fixed;
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
h5 {
  font-size: 40px;
  font-family: var(--main-font);
  margin-bottom: 60px;
}
.glass-container {
  border-radius: 8px;
  padding: 50px;
  margin-bottom: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, background 0.3s ease;
  margin-bottom: 100px;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.2);
}

.hero-para {
  font-size: 20px;
  font-style: italic;
}
.about-me {
  text-align: justify;
  font-size: 20px;
  font-style: italic;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 30px;
  backdrop-filter: blur(12px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 0;
  animation: fadeIn 1s forwards;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 80px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-family: var(--secondary-font);
}

.navbar ul li a:hover {
  color: var(--vibrant-pink);
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-content h1 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: var(--main-font);
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--vibrant-pink);
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: 300;
}

.btn {
  padding: 20px 50px;
  background-color: var(--vibrant-pink);
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
  border-radius: 30px;
  letter-spacing: 1px;
  font-size: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: var(--dark-gray);
}

section {
  padding: 80px 20px;
  text-align: center;
}

.about,
.menu,
.contact,
.cv {
  background-color: var(--white);
}

.about-content,
.cv-content {
  max-width: 900px;
  margin: 0 auto;
  color: var(--dark-gray);
}

.gallery-header,
.cv-header {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 40px;
  font-family: var(--main-font);
  color: var(--vibrant-turquoise);
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.gallery-images img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-images img:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.cv {
  position: relative;
  background-image: url("images/basil.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 20px;
  color: #fff;
  z-index: 0;
}

.cv-item {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, background 0.3s ease;
}

.cv-section .cv-item {
  animation: fadeInUp 0.5s ease-out;
}

.cv ul {
  list-style: none;
  padding-left: 0;
  text-align: justify;
}

h4,
h3 {
  text-align: left;
  text-transform: uppercase;
  font-size: 25px;
}

.cv-content p {
  text-align: left;
  font-size: 20px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact {
  background-color: var(--mint-green);
  padding: 60px 20px;
  border-top: 5px solid var(--hot-pink);
}
.contact {
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url("images/basil.jpg") center/cover no-repeat;
  padding: 100px 20px;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

.contact-container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.contact h2 {
  font-size: 40px;
  color: var(--deep-blue);
  margin-bottom: 10px;
}

.contact-me {
  font-size: 20px;
  color: var(--dark-gray);
  margin-bottom: 60px;
  font-style: italic;
}

.contact-info p {
  font-size: 20px;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  color: var(--hot-pink);
}

.footer {
  background: var(--dark-gray);
  height: 250px;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-top: 5px dotted var(--hot-pink);
}

.footer-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 20px;
  font-weight: 500;
  padding: 0 20px;
}

.footer span {
  font-size: 20px;
}

@media (max-width: 968px) {
  .hero-content h1 {
    font-size: 60px;
  }

  .hero-content p,
  .btn,
  .hero-para,
  .about-me,
  .contact-me,
  .contact-info p,
  .cv-content p {
    font-size: 16px;
  }

  .glass-container {
    padding: 20px;
    margin-bottom: 60px;
    backdrop-filter: blur(10px);
  }

  .btn {
    padding: 15px 30px;
    font-size: 18px;
  }

  .gallery-images {
    grid-template-columns: 1fr;
  }

  .cv-header h2,
  .gallery-header {
    font-size: 40px;
  }

  h5 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  section {
    padding: 40px 15px;
  }

  .contact h2 {
    font-size: 30px;
  }

  .footer p,
  .footer span {
    font-size: 16px;
  }

  .cv-item {
    padding: 15px;
  }

  .navbar {
    display: none;
  }
  .header,
  .cv {
    background-position: center;
    background-size: cover;
  }

  header {
    background-image: url("images/hero-main-small.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70vh;
    padding: 40px 15px;
    background-attachment: scroll;
  }

  .cv {
    background-image: url("images/basil-small.png");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    padding: 60px 15px;
    background-attachment: scroll;
  }
}
